[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DiSSMod"]
	path = DiSSMod
	url = https://github.com/cran/DiSSMod
[submodule "EMSS"]
	path = EMSS
	url = https://github.com/sangkyustat/emss
[submodule "vcPB"]
	path = vcPB
	url = https://github.com/sangkyustat/vcpb
